.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar{
    background-color: #003F5C !important ;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;  
}
.nav-link{
    color: white !important;
}
.content{
padding-top: 80px;
}
.footer{
    padding: 10px;
    text-align: center;
    background-color: #003f5C;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* styling for buttons */